*{font-family: Arial;}
body{
	margin:0;
	padding: 0;
}
header{
	display: flex;
	/*define a orientação*/
	justify-content: center;
	height: 120px;
}
article a{
	text-decoration: none;
}
.flex{
	display: flex;
	flex-wrap: wrap;
}
article{
	flex: 1;	
	min-width: 300px;
	margin-right: 10px;
}
.container{
	display: flex;
	justify-content: space-between;
	width: 990px;		
	
}
.logo{
	display: flex; 
	align-items: center; 
}
.menu{
	display: flex;
	align-items: center;
}
nav ul,
ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul{
	display: flex;
}
nav a{
	display: block;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #727272;
}
nav .active a,
nav a:hover{
	background-color: #39aae1;
	color: #fff;
}
#banner{
	display: flex;
	justify-content: center;
	background-image: url('../img1.jpg');
	background-position: center;
	background-size: cover;/* tamanho vai ajustar */
	height: 670px;
}
.colum{
	flex-direction: column;
}
.banner_headline{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.banner_options{	
	height: 210px;
	display: flex;
}
.banner_headline h1{
	color: #fff;
	font-size: 60px;
	text-shadow: 0px 1px 0px #555555;
	margin: 0;
	padding: 0;
	max-width: 350px;
}
.banner_headline h2{
	color: #fff;
	font-size: 20px;
	text-shadow: 0px 1px 0px #555555;
	margin: 0;
	padding: 0;
	max-width: 350px;
	margin-top: 30px;
}
.banner1,
.banner2,
.banner3{
	flex: 1;
	color: #fff;
	padding: 20px;
}
.banner1{
	background-color: #39aae1 ;
}

.banner2{
	background-color: #0079c7;
}

.banner3{
	background-color: #2b4c99;
}
.banner_title{
	font-size: 20px;
}
.banner_desc{
	font-size:12px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.banner_options a{
	display: inline-block;	
	padding: 5px;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
}
.openHours{
	display: flex;
	justify-content: space-between;	
	padding-bottom: 10px;
	padding-top: 10px;
	color: #fff;
	font-size: 13px; 
}
#geral{
	display: flex;
	justify-content: center;
	height: 300px;
}
#geral section{
	flex: 2;	
}
#geral aside{
	flex: 1;	
}
.widget_title{
	padding-top: 20px;
	padding-bottom:20px;
}
.widget_title_text{
	color: #000;
	font-size:20px;
	font-weight: bold;
}
.widget_bar{
	width: 50px;
	height: 3px;
	background-color: #36a9a1;
	margin-top: 10px;
}
article .news_data{
	display: flex;
}
article .news_posted_at{
	background-color: #2b4c99;
	color: #fff;
	font-size: 12px;
	padding: 10px;
	margin-right: 3px; 
}
article .news_coments{
	background-color: #39aae1;
	color: #fff;
	font-size: 12px;
	padding: 10px;
}
article .news_thumnail img{
	width: 100%;
	height: auto;
}
article .news_thumnail{
	margin-top: 30px;
}
article .news_title{
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 20px;
	color: #000;
}
article .news_resume{
	color: #000;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 30px;
}
.menuMobile{
	display: none;
	width: 40px;
	height: 40px;	
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 20px;
}
.mm_line{
	height: 3px;
	background-color: #39aee1;
	border:1px solid #39aee1;
	border-radius: 5px;

}
/* responsivo*/
@media (max-width:600px){
	#banner{
		height: auto;
	}
	.banner_headline{
		padding:20px;
		height: auto;
	}
	.banner_headline h1{
		font-size:50px;
	}
	.banner_headline h2{
		font-size:17px;
	}
	.banner_options{
		height:auto;
		flex-direction:column;
		padding-top:100px;
	}
	.container{
		flex-direction:column;
	}
	#geral section,
	#geral aside{
		padding:20px;
	}
	header .container{
		flex-direction:row;
	}
	nav ul{
		flex-direction:column;
		display:none;
		position: absolute;
		right: 0px;
		width: 100px;
		background-color: #fff;
		border-radius: 10px;
		margin-top: -30px;
	}
	header{
		height:60px;
	}
	.logo{
		padding-left:20px;
	}
	.menuMobile{
		display:flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.banner1, 
	.banner2, 
	.banner3{
		padding: 10px;
	}
	.banner_desc{
		margin: 5px;
	}
	.openHours{
		padding: 5px;
	}
}
